<canvas id="snake" width="608" height="608"></canvas>

<form class="form" id="status" action="/submitIt" method="POST">
    <input type="hidden" name="hiddenScore" id="hiddenScore">
    <button type="submit" class="btn" id="btn">Submit</button>   
</form>
<script src="js/snake.js"></script>
