.contained-card{
    width: auto;
    text-align: center;
}
.login-container{
    padding:20px 150px;
}
.heading {
    padding-top: 10px;
}

.form{
    text-align: center !important;
}

.tabl {
    padding: 50px;
}
